
.pickcom{
	display: flex;
	justify-content: center;	
}
.pickCommander{
	text-align-last: center;
	border: 2px solid black;
	background-color: white;
	font-size: 24px; 
}
.att{
	text-align: center;
	justify-content: center;
	vertical-align: middle;
}
img {
	max-width: 300px;
	max-height: 300px;
  }